


ul{
	list-style-type: none;
	transform: translate(-50px,0px);
}
li{

	display: inline-block;

}
li a {
	float: left;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	list-style-type: none;
}
.menu{
	position: absolute;
	background-color: #333;
	height:80px;
	padding-left: 700px;
	width: 100%;
	z-index: 1;
}



li a:hover:not(.active) {
	color: #2aa22a;
}


.logos{
	position: relative;
	float: left;
	font-family: inherit;
	margin-left: -1290px;
	margin-top: 25px;
}
.logos  .F_logo{
	height: 15%;
	width: 15%;
	border: 3px solid #fff;;
	padding: 3px;
	margin-right: 10px;
	color: #fff;
	background-color: #808080;
	text-align: center;
}

.active{
	color: #2aa22a;
}

.logos .OC_logo{
	position: absolute;
	font-size: 23px;
	color: #fff;
	transform: translate(45px,-36px);
}
.logos>.OC_logo>.AL_logo{
	color:#2aa22a;
}


/*/////////////////////////section1//////////////////////*/
.intro{
	margin-top: 150px;
	margin-left: 100px; 
}
.intro div{
	display: inline-block;
	margin-right: 70px;
}

.intro .centered{
	width: 110%;
	color: #808080;
}
.split {
	width: 25%;
	top: 0;
}

.left {
	left: 0;
}

.right {
	right: 0;
}



/*/////////////////////////section2//////////////////////*/

.about_me .photo{
	width: 25%;
}
.about_me .photo img{
	width: 100%;
	height: 419px;
	margin-left: 100px;
}




.about_me #PTitle{
	line-height: 30px;
	color: #999999;
}
.about_me .paragraph{
	margin-left: 30%;
	color: #666666;
}
.about_me .paragraph .data{
	float: left;
	width: 37%;
	margin-right: 10%;
}
.about_me .paragraph .data p{
	color: #999999;
}
.about_me .paragraph .data h3{
	text-transform: uppercase;
	margin-left: 21%;
	color: #666666;
}
.about_me .paragraph{
	width: 60%;
	transform: translate(100px,-400px);
}
.about_me .paragraph i{
	float: left;
	font-size: 40px;
	line-height: 68px;
	margin-right: 15px;
	margin-left: 15px;
}

.about_me .collect{
	
}
.about_me{
	background: #e6e6e6;
	height: 418px;
	width: 100%;
	margin-top: 100px;
}
.line{
	display: inline-block;
}










/*/////////////////////////section3//////////////////////*/



.skill .backLine{
   background: #c1c1c1; 
    
}
.skill .lines{
    background-color: green;
    
  background-image: linear-gradient(to right,#00802b);
    direction: rtl;
   
   transition:all 5s ease;
    width: 1%;
    margin-bottom: 10px;
   
    
   
}

.skill .paragrafMySkill{
    width: 40%;
    line-height: 30px;
	margin-top: 50px;
	margin-left: 100px;
	color: #666666;
    
}
.skill .PIHP{
    width: 30%;
    float: right;
    margin-top: -210px;
	margin-right: 50px;
	
}

.skill .paragrafMySkill input , .Resume input{
    border: 2px solid #29a329;
    background: none;
    color: #29a329;
    font-size: 17px;
    padding: 6px 20px 6px 20px;
    margin-top: 20px;
}
.skill .paragrafMySkill input:hover ,.Resume input:hover{
    cursor: pointer;
    background: #29a329;
    color: #fff;
}



/* ///////*/
.Resume{
	width: 100%;
	height: 150px;
    background-color: #e6e6e6;
    text-align: center;
    padding: 10px 0px 30px 0px;
    margin-top: 140px;
	color: #666666;
}
.Resume p{
	margin-left: 100px;
	margin-right: 100px;
}
.Resume h2{
	color: #595959;
}




.my_education{
	margin-top: 50px;
}
.myEducation .education h2{
	color: #333333;
}
.myEducation .education{
    float: left;
    width: 40%;
	margin-top: 60px;
	color: #666666;
	margin-left: 100px;
    
}
.myEducation .Material{
    float: right;
     width: 50%;
	color: #666666;
}
.myEducation .Material h3{
    margin-top: 60px;
	color: #333333;
}
.myEducation .Material .GPA{
	width: 9%;
    background: #29a329;
    border: 2px solid #00802b;
    padding: 3px 10px;
    color: #fff;
	margin-top: 10px;
}
.myEducation .Material hr{
	 margin-top: 30px;
	margin-bottom: 40px;
	margin-right: 60px;
}
.myEducation .Material p{
	margin-right: 60px;
}
#uni{
	margin-bottom: 50px;
}
#hr{
	width: 100%;
	margin-top: 50px;
	margin-bottom: 50px;
}

.myExperience{
	overflow: auto;
	
}

.myExperience .EXP h2{
	color: #333333;
}
.myExperience .EXP{
	float: left;
    width: 40%;
	margin-top: 60px;
	color: #666666;
	margin-left: 100px;
}
.myExperience .expereince{
	float: right;
     width: 50%;
	color: #666666;
}
.expereince .ex .year{
	width: 7%;
    background: #29a329;
    border: 2px solid #00802b;
    padding: 3px 10px;
    color: #fff;
	margin-top: 10px;
}
.myExperience .expereince hr{
	 margin-top: 30px;
	margin-bottom: 40px;
	margin-right: 60px;
}
.myExperience .expereince h3{
	margin-top: 60px;
	color: #333333;
}
/*////////////////////////////*/

.word_slid{
	margin-top: 50px;
}


.word_slid{
	
}
*.txtSlideshow-container{
	box-sizing: border-box:
}

.txtSlideshow-container {
  position: relative;
  background: #f1f1f1f1;
}

.txtMySlides {
  display: none;
  padding: 80px;
  text-align: center;
}


.dot-container {
    text-align: center;
    padding: 20px;
    background: #f1f1f1f1;
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
	border: 2px solid #00802b;
}

.dot-container .active, .dot:hover {
  background-color: #29a329;
}

q {
	font-style: italic;
	font-size: 20px;
}

.author {
	color: cornflowerblue;
	font-size: 20px;
}


/*//////////////////////////////*/
.my_gallery{
	overflow: auto;
	margin-bottom: 50px;
}


.profile{
    margin-top: 60px;
	text-align: center;
	color: #333333;
}
.mediaProfile{
	overflow: auto;
    margin-left: 200px;
}
.profile .media{
    
    float: left;
    margin-left: 30px;
    margin-top: 30px;
	
}

  .m1{
    background-image: url(../img/1.jpg);
    width: 27%;
    height: 280px;
} .m2{
    background-image: url(../img/2.jpg);
    width: 27%;
    height: 280px;
} .m3{
    background-image: url(../img/3.jpg);
    width: 27%;
    height: 280px;
} .m4{
    background-image: url(../img/3.jpg);
    width: 27%;
    height: 280px;
} .m5{
    background-image: url(../img/2.jpg);
    width: 27%;
    height: 280px;
} .m6{
    background-image: url(../img/1.jpg);
    width: 27%;
    height: 280px;
}
 .m7{
    background-image: url(../img/4.jpg);
    width: 27%;
    height: 280px;
}
 .m8{
    background-image: url(../img/3.jpg);
    width: 27%;
    height: 280px;
}
 .m9{
    background-image: url(../img/4.jpg);
    width: 27%;
    height: 280px;
}

.profile .imgP{
    background: rgba(0, 255, 0, 0.37);
    width: 90%;
    height: 100%;
    display: none;
}
.profile img{
        margin-top: 40%;
}
.profile .media:hover .imgP{
    display: block;
    cursor: pointer;
}

/*///////////////////////////////////*/
.contactMe{
    clear: left;
    margin-top: 100px;
    background-color: #262e31;
    height: 100%;
    padding-top: 100px;
    color: #fff;
	padding-bottom: 50px;
}
.contactMe .parContactME{
    width: 50%;
    float: left;
	margin-left: 100px;
}
form{
	width: 80%;
}
.contactMe .parContactME h2{
    margin-bottom: 30px;
	color: #b3b3b3;
}
.contactMe .parContactME p{
    color: #a3a3a3;
}
.contactMe .parContactME .pin{
    line-height: 30px;
}

.contactMe .parContactME span{
    color: #fff;
	
}
.contactMe .inputContactMe {
    margin-left: 60%;
}
.contactMe .inputContactMe label{
    display: block;
    margin-top: 30px;
    margin-bottom: 5px;
	color: #808080;
}
.contactMe .inputContactMe input,.contactMe .inputContactMe textarea ,#darck {
    background: #4d5558;
    border: none;
    height: 35px;
    width: 100%;
    border-radius: 3px;
}
.contactMe .inputContactMe textarea{
    height: 50%;
}

.contactMe .inputContactMe #submit{    
	margin-top: 30px;
    width: 30%;
	height: 40px;
    color: #fff;
    background: #1a1d22;
	border: 1px solid #1a1d22;
}
.contactMe .inputContactMe #submit:hover{
    cursor: pointer;
    background: #000;
}
footer{
	padding-top: 50px;
    background: #1a1d22;
    display: flex;
    padding-bottom: 10px;
}
footer a{
    float: left;
    margin-left: 10px;
    background: #4d5558;
    border-radius: 50%;
	height: 32px;
}
footer .a{
    margin-left: 38%;
}
footer .text-center{
	width: 50%;	
	margin-left: 300px;
}
footer .text-center p{
	margin-left: 240px;
	margin-bottom: 10px;
	color: #737373;
}




